{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <form action="{{ url('acl_sync') }}" method="POST" class="pull-left">
            <button type="submit" class="btn btn-sm btn-success">
                <i class="fa fa-refresh fa-spin"></i>
                Synchronize routes with configuration INI file
            </button>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Route, URL, method, controller::function</th>
                        {% for group in groups %}
                        <th class="text-center" style="width: 1px;">{{ group.name }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for route in routes %}
                    <tr>
                        <td>
                            <strong class="text-primary">
                                {{ route.name }}
                            </strong>
                            &nbsp;
                            <small class="text-muted">
                                <code>
                                    {{ route.url }}
                                </code>
                                &nbsp;
                                <small class="label label-primary">
                                    {{ route.request }}
                                </small>
                                &nbsp;
                                <small>
                                    {{ route.controller }} &#10141; {{ route.method }}
                                </small>
                            </small>
                            <form action="{{ url('acl_route', {'type': 'remove', 'routeid': route.id}) }}" method="POST" class="pull-left">
                                <button type="submit" class="btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="Click to delete route '{{ route.name }}'">
                                    <i class="text-muted fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                        {% for group in route.groups %}
                            <td class="text-center">
                                {% if group.access %}
                                    <form action="{{ url('acl_change',{'type': 'deny', 'routeid': route.id, 'groupid': group.id }) }}" method="POST">
                                        <button type="submit" class="btn-link" data-toggle="tooltip" data-placement="top" title="Click to deny access to group '{{ route.name }}'">
                                            <i class="text-success fa fa-check-circle"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{{ url('acl_change',{'type': 'allow', 'routeid': route.id, 'groupid': group.id }) }}" method="POST">
                                        <button type="submit" class="btn-link" data-toggle="tooltip" data-placement="top" title="Click to allow access to group '{{ route.name }}'">
                                            <i class="text-danger fa fa-minus-circle"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                        {% for group in groups %}
                        <th class="text-center" style="width: 1px;">{{ group.name }}</th>
                        {% endfor %}
                </tr>
            </tfoot>
        </table>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for group in members %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="" href="#group-{{ group.name }}" aria-expanded="true" aria-controls="group-{{ group.name }}">
                                {{ group.name }}
                            </a>
                        </h4>
                    </div>
                    <div id="group-{{ group.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 80%;">
                                        Name
                                    </th>
                                    <th style="width: 20%;" class="text-center">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in group.members %}
                                    <tr>
                                        <td>
                                            {{ member.username }}
                                        </td>
                                        <td class="text-center">
                                            <form action="{{ url('acl_members',{'type': 'remove', 'groupid': group.id}) }}" method="POST">
                                                <input type="hidden" name="userid" value="{{ member.id }}">
                                                <button type="submit" class="btn btn-default btn-xs">
                                                    Remove
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="">
                                        <form action="{{ url('acl_members', {'type': 'add', 'groupid': group.id}) }}" method="POST" class="">
                                            <div class="row">
                                                <div class="col-sm-11">
                                                    <select name="userid" class="form-control input-sm">
                                                        <option disabled selected>
                                                            < Add a user to {{ group.name }} >
                                                        </option>
                                                        {% for u in users %}
                                                            <option value="{{ u.id }}">
                                                                {{ u.username }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="submit" class="btn btn-default btn-sm">
                                                        Add user
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}